doctype html
html
	head
		title Digiboom | Digital Marketing Solutions
		meta(charset='utf-8') 
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="HandheldFriendly" content="true")
		link(rel='stylesheet', href='../CSS/about.css') 
		
	body
		header.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-background.col-lg-12.col-md-12.col-sm-12.col-xs-12 
			#header-graphics.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-graphics-back.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#header-content-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
				nav.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#logo.col-lg-7.col-md-7.col-sm-7.col-xs-12
						a(href='index.html').col-lg-12.col-md-12.col-sm-12.col-xs-12
							img(src="../Images/logosolocircle.png" width="50px" height='50px').col-lg-1.col-md-1.col-sm-1.col-xs-12
							span#main DIGIBOOM 
							br 
							span#sub Digital Marketing Soutions
					#menu.col-lg-5.col-md-5.col-sm-5.col-xs-12
						a(href='index.html')#home.col-lg-3.col-md-3.col-sm-3.col-xs-3 Home
						a(href='about.html')#about.col-lg-3.col-md-3.col-sm-3.col-xs-3 About
						a(href='contactus.html')#contact.col-lg-3.col-md-3.col-sm-3.col-xs-3 
							p Contact Us

				#header-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
					#written-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h3#main-heading Marketing Digital.
						br
						h5#sub-heading Making Results.
		#about-us-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#about-us-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1 About Us
			#about-us-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
				p.col-lg-12.col-md-12.col-sm-12.col-xs-12 Digi Boom is digital marketing solutions driven company. Our service promises revenues and expert team support in maximizing digital monetization. Online publishers in-house teams are expensive for the ROI they provide. Managing Ad network is not a core business function and it is not easy for publishers to monetize online traffic.

				p.col-lg-12.col-md-12.col-sm-12.col-xs-12 We as Publishers website network build revenue , implement services for publishers like web design , development , maintenance and end to end digital service management. This help the publishers to have all digital solutions under one umbrella i.e. end to end digital service management.

			#monetize.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#monetize-heading.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Core Area of Operation
				#monetize-image.col-lg-10.col-md-10.col-sm-10.col-xs-8

		footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#logo-image.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#menu-options.col-lg-12.col-md-12.col-sm-12.col-xs-12
				a(href="index.html")#footer-home Home
				a(href="about.html")#footer-about About
				a(href="contactus.html")#footer-contact Contact
			#social-media-holder.col-lg-12.col-md-12.col-sm-12.col-xs-12
			#copyrights.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4 2016 All rights reserved @ DigiBoom | Digital marketing solutions.
				#designedby
					h5 Website designed and developed by 
						a(href="#") Bhuvan Singh.

		
		a(href="#",target="_blank")
			#facebook
		a(href="#",target="_blank")
			#googleplus
					